

@{
    ViewBag.Title = "Patients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patients</h2>
<p>
    @Html.ActionLink("New Patient", "New", "Patient", null, new { @class = "btn btn-primary" })
</p>
<table id="patients" class="table table-­‐bordered table-­‐hover">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Appointments</th>
            <th>Delete</th>
        </tr>
    </thead>
</table>


@section scripts {
    <script>
        $(document).ready(() => {
            var table = $("#patients").DataTable({
                ajax: {
                    url: "/api/patient",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, patient) {
                            return "<a href='/patient/edit/" + patient.Id + "'>" + patient.Name + "</a>";
                        }
                    },
                    {
                        data: "Email"
                    },
                    {
                        data: "Phone"
                    },
                    {
                        data: "Appointments",
                        render: function (data, type, patient) {
                            return "<a href='/appointment/index/" + patient.Id + "'>Appointments</a>";
                        }
                    },
                    {
                        data: "Delete",
                        render: function (data, type, patient) {
                            return "<button class='btn-link js-delete' data-patient-id='" + patient.Id + "'>Delete</button>";
                        }
                    }
                ]
            });

            $("#patients").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this patient?", (result) => {
                    if (result == true) {
                        $.ajax({
                            url: "/api/patient/" + button.attr("data-patient-id"),
                            method: "DELETE",
                            success: () => {
                                bootbox.alert("Patient deleted succesfully");
                                button.parents("tr").remove();
                            },
                            error: (error) => {
                                console.log(error);
                            }
                        });
                    }
                    
                });


            });
        });
    </script>
}

